*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/BaseRecyclerViewAdapterHelpe/
/LiveView-master-master/
/zhy_android_utils/
/videoviewdemo/
/material-spinner-1.0.5/
